#form_style {
	background: none;
	margin: 15px;
	border: 1px solid #ebebeb;
	padding: 5px;
}

#form_style h3 {
	text-align: center;
	font-weight: bold;
}

#form_style input[type="text"],input[type="email"],input[type="tel"] {
}

#form_style input[type="submit"] {
	margin-left: 50%;
	margin-top: 10px;
	cursor: pointer;
}

.ui-toolbar {
	margin: 20px 0 0 0;
}

form #form-disciplina td {
	font-size: 1.5em !important;
}

.cadastro input, .cadastro textarea
{
	width: 18.5em;
}

.cadastro form
{
    margin: 0 auto;
}

.teste {
	height: 40px;
	border-bottom: 1px dashed #000;
	margin-bottom: 10px !important;
}

.teste td {
	vertical-align: middle;
	margin-bottom: 10px;
}

.titulo-conteudo {
	color: #333333;
	font-size: 1.2em;
}

.download{
	font-size: 1em;
	font-weight: normal;
}